RewriteEngine On

# Prioritas: cek file/folder nyata
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Hilangkan .php
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Hilangkan .html
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Fallback semua ke index.php kalau gak ada file
RewriteRule ^(.*)$ index.php [L,QSA]
